<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GDG Devfest '16</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <meta name="theme-color" content="#232240">
    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script type="text/javascript" src="/js/angular-spinner.min.js"></script>
    <script src="js/angular-script.js"></script>
    <link rel="icon" href="images/gdg.png">
</head>
<body ng-app="app" ng-controller="controller">

    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    <div ng-if="loading" style="display:block;position:absolute;background-color:rgba(255,255,255,0.5);width:100vw;height:100vh;z-index:1000;top:0px;left:0px"></div>
<div class="container-fluid">
    <div class="row no-margin">
        <div class="col s12 m6 l6 no-padding no-margin hide-on-small-only" style="background:#3e3e3e;">
            <div class="row no-margin border-bottom">
                <div class="col m1 l1 no-padding no-margin">
                    <div class="menu-icon">
                        <img src="images/menu.png">
                    </div>
                </div>
                <div class="col m9 l9 no-padding no-margin">
                    <div class="personal-info">
                        Personal Information
                    </div>
                </div>
                <div class="col m1 l1 no-padding no-margin">
                    <div class="badge" id="edit" ng-click="edit=!edit">
                        Edit
                    </div>
                </div>
            </div>
            <div class="col m1 l1 no-padding no-margin selectors-holder">
                <div class="selectors">
                    <div class="row">
                        <div class="selector">
                            <img src="images/man.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col m11 l11 no-padding no-margin">
                <div class="details">
                    <form name="details" action="/profile/saveProfile" method="POST">
                        <div class="detail border-bottom">
                            <small>Name</small>
                            <br>
                            <input ng-disabled="edit" type="text" class="profile-input" value="<%= user.name %>" name="name">
                        </div>
                        <div class="detail border-bottom">
                            <small>Registration Number</small>
                            <br>
                            <input type="text" ng-disabled="edit" class="profile-input" value="<%= user.regNo %>" name="regNo">
                        </div>
                        <div class="detail border-bottom">
                            <small>Skills</small>
                            <br>
                            <input type="text" ng-disabled="edit" class="profile-input" value="<%= user.skills.join(' , ') %>" name="skills">
                        </div>
                        <div class="detail border-bottom">
                            <small>Contact</small>
                            <br>
                            <input type="text" ng-disabled="edit" class="profile-input" value="<%= user.contact %>" name="contact">
                        </div>
                        <br><br>
                        <div class="center" ng-hide="edit">
                            You can edit your details now<br>
                            <button class="custom-submit" type="submit">Save Changes</button>
                            <br><br>
                        </div>
                    </form>
                    <div class="center">
                        <a href="http://bit.ly/2dScuro" class="custom-submit">Problem Statements</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6 no-padding no-margin">
            <div class="team">
                <div ng-view></div>
            </div>
        </div>
    </div>
    <div class="center problem-stmt-in hide-on-med-and-up">
        <a href="http://bit.ly/2dScuro" style="color:black;" class="custom-submit">Problem Statements</a>
    </div>
</div>
</div>

</body>
<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
        $('.modal-trigger').leanModal();
        <% if(message!=""){ %>
            Materialize.toast(<%- JSON.stringify(message) %>,4000);
        <% } %>
    });
</script>
</html>
